{% extends 'mainapp/base.html' %}
{% load static %}


{% block menu %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% include 'mainapp/includes/inc_menu.html' %}
  </div>
</nav>
{% endblock menu %}
{% block content %}
<div class="list-group">
  {% for event in events %}
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <p class="mb-1">{{ event.event_name }}</p>
    <p class="mb-1">{{ event.event_start_date }}</p>
    <p class="mb-1">{{ event.event_end_date }}</p>
  </a>
  {% endfor %}
</div>
{% endblock %}